<img src="manoj photo.jpg" alt="My Photo" class="My Photo" width="300">

<div class="container">
  <h1>Welcome to My portfolio</h1>
  <p>This is my personla site  where you can learn more about me and my work.</p>

  
</div>
